Click
Flask
# Flask-Login
Flask-SocketIO
Flask-SQLAlchemy
# Flask-WTF
gevent
gevent-websocket
greenlet
gunicorn
# itsdangerous
# Jinja2>=2.10.1
# MarkupSafe
passlib
psycopg2-binary
python-engineio
python-socketio
six
SQLAlchemy
Werkzeug
# WTForms
termcolor
# openpyxl
requests
Markdown
sentry-sdk[flask]
